<%- include("includes/metadata.ejs", {title: "Shop"}) %>
<main>
    <% if (response.params.products.length > 0) { %>
        <div class="card-group">
            <% for (let product of response.params.products) { %>
            <div class="card-outside">
                <div class="card">
                    <div class="card-title"><%= product.name %></div>
                    <div class="divider"></div>
                    <div class="card-description"><%= product.description %></div>
                    <div class="card-image">
                        <img src="<%= product.imageUrl === '' ? 'images/shopping-cart.png' : product.imageUrl %>" alt="">
                    </div>
                    <div class="card-price">$ <%= product.price %>.00</div>
                    <div class="divider"></div>
                    <div class="card-footer">
                        <div><a href="#">Favoritar</a></div>
                        <div><a href="#">WhatsApp</a></div>
                        <div><a href="#">Facebook</a></div>
                    </div>
                </div>
            </div>
            <% } %>
    <% } else { %>
        <h1>No products found</h1>
    <% } %>
<%- include("includes/footer.ejs") %>